.leftAlign {
    text-align: left;
}

.rightAlign {
    text-align: right;
}

.errorMsg {
    color: darkred;
    background-color: pink;
    font-weight: bolder;
}

.infoMsg {
    color: darkgreen;
    background-color: lightgreen;
    font-weight: bolder;
}